.gradle/
.idea/
local.properties
build/
*.iml
src/main/obj
src/main/libs

freeline/
xiaoniuTinkerApk/
freeline_core/
freeline.py
/myapplication
/appcompat-v7
captures/

XNOnline/tinker/

repo/com/xiaoniu/finance/plugin/statisticsplugin
